*{
    margin: 0;
}

.navbar{
    display: flex;
    background-color: rgb(80, 73, 73);
}

.logo{
    height: 15vh;
    border-radius: 100%;
}

.navbar a{
    margin-left: 35px;
    align-items: center;
}